.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 245px;
    scale: 1.2;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b42dd;
    color: #cdcdcd;
    text-decoration: none;
    height: 40px;
    width: 135px;
    border-radius: 15px;
    font-weight: 500;
    /* text-shadow: 4px 0px rgba(0, 0, 0, 0.25); */
    transition: all .3s;
    user-select: none;
}

.button:hover {
    background-color: #6030e3;
}

.upper_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 500px;
}

.lazap_features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 149px;
    height: 76px;
    color: #f6f6f6;
}

.lazap_features>p {
    cursor: default;
}

.lazap_features>p:hover {
    cursor: pointer;
}

.v-divider {
    height: 77px;
    width: 2px;
    background-color: #444444;
}

.logo {
    width: 80px;
}

.title {
    font-size: 64px;
}

.desc-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    color: #BBBBBB;
    width: 100%;
    background-color: #1e1e1e;
}

.text {
    display: flex;
    width: 30vw;
    margin-left: 16px;
    margin-right: 16px;
    flex-direction: column;
    line-height: 32px;
}

.h-divider {
    width: 30vw;
    height: 2px;
    background-color: #4e4e4e;
    margin-top: 12px;
    margin-bottom: 12px;
}



.image {
    margin-left: 16px;
    margin-right: 16px;
    width: 800px;
}

.footer {
    height: 100px;
    color: rgb(176, 176, 176);
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    background-color: #171717;
}

.mgnb {
    padding-bottom: 200px;
}