.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 245px;
    scale: 1.2;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3000b3;
    color: #BBBBBB;
    text-decoration: none;
    height: 39px;
    width: 133px;
    border-radius: 15px;
    /* text-shadow: 4px 0px rgba(0, 0, 0, 0.25); */
    transition: all .3s;
}

.button:hover {
    scale: 0.9;
}

.upper_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 500px;
}

.lazap_features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 149px;
    height: 76px;
    color: #BEBEBE;
}

.lazap_features>p {
    transition: all .3s;
    font-family: 'Courier New', Courier, monospace;
}

.lazap_features>p:hover {
    scale: 0.9;
    cursor: pointer;
}

.v-divider {
    height: 77px;
    width: 2px;
    background-color: #444444;
}

.logo {
    height: 60px;
    width: 60px;
}

.title {
    font-size: 64px;
    width: 190px;
    height: 78px;
}

.desc-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    color: #BBBBBB;
    width: 100%;
    background-color: #1e1e1e;
}

.text {
    display: flex;
    width: 40vw;
    margin-left: 16px;
    margin-right: 16px;
    flex-direction: column;
    line-height: 32px;
}

.h-divider {
    width: 40vw;
    height: 2px;
    background-color: #4e4e4e;
    margin-top: 12px;
    margin-bottom: 12px;
}

.align-r {
    text-align: end;
}

.image {
    margin-left: 16px;
    margin-right: 16px;
    height: 315px;
    width: 680px;
}